# IntelliJ
.idea
*.iml
*.ipr
*.iws

# Mac OS X
.DS_Store

.classpath
.project
.settings
.gradle
gradle.properties

build/
core/build/
debug/build/
experimental/build/
extensions/build/
out/

bin/
core/bin
debug/bin
experimental/bin
extensions/bin

target/
.metadata


# IDEA/Android Studio ignores
*.iml
*.ipr
*.iws
/.idea/*

# IDEA/Android Studio Ignore exceptions
!/.idea/vcs.xml
!/.idea/fileTemplates/
!/.idea/inspectionProfiles/
!/.idea/scopes/
!/.idea/codeStyles/
!/.idea/encodings.xml
!/.idea/copyright/
!/.idea/compiler.xml

#Gradle
.gradle
local.properties
build

#Other
.DS_Store
